header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(172, 39, 39, 0.623);
    
}
    
img {
    width: 12%;
    margin-right: 20px;
}
    
nav{
    flex: 1;
}
    
ul{
    display: flex;
    list-style: none;
    margin-left: -90px;
}
    
li > a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-right: 25px;
}