.img-container {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
}

.App-header {
  margin-bottom: 20px; /* Отступ сверху для основного содержимого */
  
}


.img-custom {
  max-width: 100%;
  height: auto;
  position: fixed;
  left: auto; /* Перемещает блок на 50px вправо от его обычного положения */
  top: -150px;
  height: 1130px;
  width: 1920px;
  margin-left: 20px;
  z-index: -1;/*перемещение картинки на задний план*/
}

