.img-container {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
}

.App-header {
  margin-bottom: 20px; /* Отступ сверху для основного содержимого */
  
}

/* Удостоверьтесь, что класс img-custom имеет нужные стили для изображения */
.img-custom {
  max-width: 100%;
  height: auto;
  position: fixed;
  right: 680px; /* Перемещает блок на 50px вправо от его обычного положения */
  bottom:130px;
  height: 1000px;
  width: 200px;
}